
<!--<%= form_for @link do |f| %>-->
<!--    <% if @link.errors.any? %>-->
<!--        <ul>-->
<!--           <%= @link.errors.full_messages.each do |msg| %>-->
<!--                <li><%= msg %></li>-->
<!--            <% end %>    -->
<!--        </ul>-->
<!--    <% end %>  -->
<!--    <p>-->
<!--        <%= f.label :url %>-->
<!--        <%= f.text_field :url %>-->
<!--    </p>-->
<!--    <p>-->
<!--        <%= f.submit %>-->
<!--    </p>-->
<!--<% end %>    -->

<%= form_tag @link , class: "form-group" do %>
  <% 4.times do |i|%>
    URL : <%= text_field_tag :url, "", :name => "links[][url]" , class: "form-control" %>
    <br/>
    <hr>
  <% end %>
  <%= submit_tag "Submit" , class: "btn btn-default"%>
<% end %>